# ----------------------------------------------------
# 1. Node.js/NPM 依赖
# ----------------------------------------------------
node_modules/
npm-debug.log*

# ----------------------------------------------------
# 2. Hugo 生成的缓存和输出目录
# ----------------------------------------------------
# Hugo 缓存目录，用于图片处理等
resources/
.hugo_build.lock

# Hugo 最终输出目录，由 CI/CD (Cloudflare) 生成
public/

# ----------------------------------------------------
# 3. 本地开发配置文件
# ----------------------------------------------------
# 本地环境变量和密钥（非常重要，防止将密钥泄露到 Git）
.env
.dev.vars
.DS_Store
.vscode/